/*Global styles*/
:root {
  --radius-border: 0.4rem;
  --padding-styles: 1.5rem;
  --text-color: hsl(0, 0%, 100%);
  color: var(--text-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: hsl(210, 46%, 95%);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 85%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    "one one two three"
    "four five five three";
}
.container > div {
  border-radius: var(--radius-border);
  padding: 0 var(--padding-styles);
  padding-top: var(--padding-styles);
}
.one {
  background: hsl(263, 55%, 52%);
  grid-area: one;
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 90% top;
}
.two {
  background: hsl(217, 19%, 35%);
  grid-area: two;
}
.three {
  background: hsl(0, 0%, 100%);
  grid-area: three;
  --text-color: hsl(0, 0%, 0%);
  color: var(--text-color);
}
.four {
  background: hsl(0, 0%, 100%);
  grid-area: four;
  --text-color: hsl(0, 0%, 0%);
  color: var(--text-color);
}
.five {
  background: hsl(217, 29%, 14%);
  grid-area: five;
}
.each {
  display: flex;
}
.names {
  margin-left: 1rem;
}
.each p,
.each h5 {
  margin-bottom: -1px;
  margin-top: 5px;
}
.each p {
  font-size: 0.8rem;
  opacity: 50%;
}
.each-1 h4 {
  line-height: 1.5;
}
.each-2 p {
  font-size: 0.8rem;
  opacity: 70%;
  line-height: 1.5;
}
.each img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  max-width: 100%;
}
@media (max-width: 768px) {
  .container {
    padding: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-areas:
      "one one"
      "two three"
      "four three"
      "five five";
  }
}
@media (max-width: 576px) {
  .container {
    padding: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-areas:
      "one"
      "two"
      "four"
      "five"
      "three";
  }
  .names {
    margin-left: 1rem;
  }
}
